
html, body {
  margin: 0;
  padding: 0;
  font-family: arial;
  color: black;
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  text-align: center;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding-top: 10px;

}

h1 {
  margin: auto;
  width: 40%;
	font-weight: bold;
	font-size: 70px;
  font-family: 'Ceviche One', cursive;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

h2 {
	font-size: 35px;
  font-weight: bold;
  font-family: 'Ceviche One', cursive;
}

p {
	font-size: 20px;
}

span {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Ceviche One', cursive;
}

.directions {
  width: 90%;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

#prompt {
  font-size: 20px;
}

#winorlose {
  font-size: 50px;
  font-family: 'Ceviche One', cursive;
}

#targetnumber,
#updatedplayernumber,
#winnumber,
#lossnumber {
  font-size: 20px;
}
.playerinfo {
  display: flex;
  /*justify-content: space-between;*/
}

.playerstats {
  margin: auto;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  padding: 10px;
}
.numbers {
  margin: auto;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  padding: 10px;
}
.crystals {
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

img {
	height: 200px;
	width: 200px;
	border: solid;
	border-color: white;
}
